*{
    box-sizing: border-box;
}

body{
    background-color: black;
    width: auto;
}


#titulo{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content:left;
}



#titulo h1{
    font-size: 22px;
    padding-top: 5%;
    color: goldenrod;
}

#titulo h2{
    font-size: 20px;
    color: goldenrod;
}

main{
    color: goldenrod;
}


#head{
    display: flex;
    align-items: center;
}

#offcanvasWithBothOptions{
    width: 285px;
}


#navbar-propio{
    width: 100%;
    padding: 0%;
    margin: 0%;
}
header{
    position: sticky;
    top: 0%;
    z-index: 1;
    background-color: black;
    width: 100vw;
}

#copa-vinos{
    display: flex;
    justify-content: center;
    width: 100%;
    

}

#copa-vinos img{
    width: 100%;
    border: dashed 2px lightgray;
}

/* menu desplegable */
#offcanvasWithBothOptions{
    background-color: black;
}


.btn-close{
    background-color: white;
}


#inicio-menu{
    text-decoration: none;
    color: goldenrod;
    margin-left: 15%;
    font-size: 24px;
    text-decoration: underline;
}

.accordion-item {
    background-color: rgb(58, 58, 58);
}

.accordion-button{
    background-color: rgb(12, 12, 12);
    color: white;
}


.accordion-button:focus{
    background-color: rgb(12, 12, 12);
    color: goldenrod;

}

.accordion{
    border: 4px outset goldenrod;   
}

ul{
    padding: 0px;
    
}

li{
    list-style: none;
    margin: 3% 0%;
    border: 2px solid goldenrod;
    color: rgb(196, 196, 196);
    background-color: black;
    padding-left: 5%;
    width: 100%;

}


li a{
    text-decoration: none;
    color: white;
}

ul label{
    width: 100%;
}


/* productos destacados del home */

#prodDestacados{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: auto;
    gap: 2%;
    
}

#textoDestacados{
    color: goldenrod;
}

/* footer */

footer{
    position: static;
    bottom: 0%;
    margin-top: 10%;
    display: flex;
    z-index: 1;
    background-color: black;


}

#mail-dir{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: goldenrod;
    padding-left: 6%;
}



#consulta{
    color: goldenrod;
    justify-content:flex-end;
}

#logo{
    width: 30%;
}
#logo img{
    width: 100%;
}

/* footer menu desplegable */

#footer-menu-desplegable{
    position: absolute;
    margin: 0px 0px;;
    bottom: 5%;
    width: 70%;

}

#footer-menu-desplegable li{
    padding: 0%;
}

#footer-menu-desplegable a{
    text-decoration: none;
    color: white;
    margin: 0%;
    padding: 0%;
}

#footer-menu-desplegable label{
    padding: 4%;
    display: flex;
    justify-content: center;
    background-color: rgb(12, 12, 12);
}