*{
    box-sizing: border-box;
}

body{
    background-color: black;
}


#titulo{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content:left;
}



#titulo h1{
    font-size: 22px;
    padding-top: 5%;
    color: goldenrod;
}

#titulo h2{
    font-size: 20px;
    color: goldenrod;
}

main h6{
    color: goldenrod;
}

#head{
    display: flex;
    align-items: center;
}

#offcanvasWithBothOptions{
    width: 285px;
}


#navbar-propio{
    width: 100%;
    padding: 0%;
    margin: 0%;
}
header{
    position: sticky;
    top: 0%;
    z-index: 1;
    background-color: black;
}

#copa-vinos{
    display: flex;
    justify-content: center;
    width: 100%;
    

}

#copa-vinos img{
    width: 100%;
    border: dashed 2px lightgray;
}

/* menu desplegable */
#offcanvasWithBothOptions{
    background-color: black;
}


.btn-close{
    background-color: white;
}


#inicio-menu{
    text-decoration: none;
    color: goldenrod;
    margin-left: 15%;
    font-size: 24px;
    text-decoration: underline;
}

.accordion-item {
    background-color: rgb(58, 58, 58);
}

.accordion-button{
    background-color: rgb(12, 12, 12);
    color: goldenrod;
}


.accordion-button:focus{
    background-color: rgb(12, 12, 12);
    color: goldenrod;

}

.accordion{
    border: 4px outset goldenrod;   
}

ul{
    padding: 0px;
}

li{
    list-style: none;
    margin: 3% 0%;
    border: 2px solid goldenrod;
    color: rgb(196, 196, 196);
    background-color: black;
    padding-left: 5%;
}

/* productos destacados del home */

#prodDestacados{
    display:flex;
    justify-content: stretch;
}

#textoDestacados{
    color: goldenrod;
}

/* footer */

#mail-dir{
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: goldenrod;
    padding-left: 8%;
}

#logo-wpp{
    width: 60%;
    padding-left: 20%;
    
}

#consulta{
    color: goldenrod;
}