@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


#titulo{
    @include flex-center;
    flex-direction: column;
    padding: 0%;
    width: 60%;

    h1{
        font-size: 22px;
        padding-top: 5%;
        color: goldenrod;
    }
    h2{
        font-size: 20px;
        color: goldenrod;
    }

}



#head{
    width: 100vw;
    top: 0%;
    z-index: 1;
    background-color: black;

    #head2{
        @include flex-center;
        width: 100vw;
        column-gap: 2%;

        #div-logo{
            padding: 0%;
        }
        
    }



}